{% extends "base.html" %}
{% block content %}
<section class="area-of-study">
    <div class="aboutus-container">
        <div>
            <p><h3>About</h3></p>
        </div>
        <div>
            <p>GCSE maths Quiz is a web based application platform that enables users to attempt GCSE maths questions
                on numbers, algebra, ratio and proportion, geometry and measurements, and probability and statiscts.
                <br><br>
                Users need to sign up first in order to do the quizzes and then they can monitor their progress over time.
                Questions and feedback for quizzes are provided after each attempt and are updated regularly.
                </p>
        </div>
        <div>
            <img src="/static/images/topics.png" alt="topics" width="1100" height="480">
        </div>
    </div>
</section>
{% endblock content %}