{% extends 'base-admin.html' %}
{% block content %}
<section class="admin-area">
    <div>
        <p><h2>Admin</h2></p>
        <hr><br>
    </div>
    <div>
        <p><h4>Admin reponsibilities:</h4>
            <br>
            <ul>
                <li>Add, edit or delete users</li>
                <li>Add, edit or delete quiz topics and sub-topics</li>
                <li>Add, edit or delete quiz questions</li>
                <li>Produce a report</li>
            </ul>            
    </div>
    <br>
    <div>
        <img src="/static/images/administrator.png" alt="admin" width="800" height="450" align="center">
        
    </div>
</section>
{% endblock content %}

