{% extends 'base.html' %}

{% block content %}
<!-- knowlege -->
    <section class="knowledge">
        <div class="container">
            <div class="knowledge-content">
                <h1 class="knowledge-heading">
                    Practice makes perfect!
                </h1>
                <p class="knowldge-text">
                    Mathematics is not a subject you learn by watching; you must DO mathematics to LEARN mathematics.
                </p>
            </div>
        </div>       
    </section>

    <!-- Image -- Sidebar -->
    <section class="image-and-sidebar">
        <div class="container">
            <div class="image-sidebar-grid">
                <div class="card">
                    <img src="static/images/gcse_maths_quiz.png" alt="quiz">
                </div>
                <div class="card">
                    <p class="heading"> <h3>Useful Links</h3></p>
                    <p class="post"><a href="https://qualifications.pearson.com/content/dam/pdf/GCSE/mathematics/2015/specification-and-sample-assesment/gcse-maths-2015-specification.pdf">
                        New GCSE Specification 9 - 1</a>
                    </p>
                    <p class="post"><a href="https://educationhub.blog.gov.uk/2023/11/08/get-number-confident-and-unlock-your-potential/">
                        The Education Hub </a>
                    </p>
                    <p class="post"><a href="https://ofqual.blog.gov.uk/2017/02/10/gcse-maths-choosing-the-right-tier/">
                        GCSE Maths: Choosing the 'right' tier </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}