{% extends "base.html" %}

{% block content %}
    <!-- Area of study cards -->
    <section class="area-of-study">
        <div class="area-of-study-container">
            <div class="area-of-study-grid">
                <div class="card">                    
                    <a href="http://127.0.0.1:8000/quiz/1/">Number</a>
                </div>
                <div class="card">
                    <a href="http://127.0.0.1:8000/quiz/2/">Algebra</a>
                </div>
                <div class="card">
                    <a href="http://127.0.0.1:8000/quiz/3/">Ratio and Proportion</a>
                </div>
                <div class="card">
                    <a href="http://127.0.0.1:8000/quiz/4/">Geometry and Measure</a>
                </div>
                <div class="card">
                    <a href="http://127.0.0.1:8000/quiz/5/">Probability and Statistics</a>
                </div>    
            </div>
        </div>
    </section>
    <!-- Topics -->
    
    
    <section>
        <div class="topic-questions">
            <div class="topic-container">                

                    {% for st in sub_top %}
                        
                            <div class="card">
                                <a href="http://127.0.0.1:8000/quiz/{{st.topic_id}}/{{st.sub_topic_id}}/">{{st.sub_topic}}</a>
                            </div>                           

                    {% endfor %}
                
            </div>

            <div class="questions-container">
                
                    <h3>QUIZ</h3>
                    <hr> 
                    {% for stq in sub_top_que %}
                    <form method="POST" action="http://127.0.0.1:8000/quiz-marked/{{stq.subtopic_id}}/">     
                    {% csrf_token %}     
                    
                    <input type="hidden" name="h-subtopic" value={{stq.sub_topic}}>
                    <div class="card">
                        <div>
                            {{forloop.counter}}){{stq.question}}
                        </div>
                        <div class="option">
                            <input type="radio" id={{stq.option1}} name={{stq.question_id}} value={{stq.option1}}>
                            <label for={{stq.option1}}> {{stq.option1}}</label>
                        </div>
                        <div class="option">
                            <input type="radio" id={{stq.option2}} name={{stq.question_id}} value={{stq.option2}}>
                            <label for={{stq.option2}}> {{stq.option2}}</label>                                       
                        </div>
                        <div class="option">
                            <input type="radio" id={{stq.option3}} name={{stq.question_id}} value={{stq.option3}}>
                            <label for={{stq.option3}}> {{stq.option3}}</label>
                        </div>
                        <div class="option">
                            <input type="radio" id={{stq.option4}} name={{stq.question_id}} value={{stq.option4}}>
                            <label for={{stq.option4}}>{{stq.option4}}</label>
                        </div>
            
                    </div>   
            
                    {% endfor %}  
                    <br>
                    <div class="btn-field">
                    <p><button type="submit">Submit Quiz</button>    
                    </div>          
                        
                </form>                
                    
            </div>
        </div>        
    </section>

    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
}
    </script>

  {% endblock content %}

